<!DOCTYPE html>
<!--[if lt IE 7]> 
    <html 
        class="no-js ie6 oldie" 
        lang="en" 
        xmlns:ng="http://angularjs.org/" 
        ng:controller="AppController"> 
<![endif]-->
<!--[if IE 7]> 
    <html 
        class="no-js ie7 oldie" 
        lang="en" 
        xmlns:ng="http://angularjs.org/" 
        ng:controller="AppController"> 
<![endif]-->
<!--[if IE 8]>  
    <html 
        class="no-js ie8 oldie" 
        lang="en" 
        xmlns:ng="http://angularjs.org/" 
        ng:controller="AppController"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html 
    class="no-js" 
    lang="en" 
    xmlns:ng="http://angularjs.org/" 
    ng:controller="AppController"> 
<!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <title ng:bind-template="{{title}} | Game Phase "> Game Phase</title>
        <meta name="description" content="My first naruto game" />
        <meta name="author" content="Sivan Wolberg(fastwings)" />

        <meta name="description" content="Test Game">

        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Exo">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|vintage">

        <script src="scripts/libs/vendors/modernizr-2.0.6.min.js"></script>

        <link rel="stylesheet/less" type="text/css" href="assets/css/less/main.less" />
        <script type="text/javascript" src="scripts/libs/vendors/less/less.js"></script>
        <!-- Game Menifest Data -->
        <script type="text/javascript" src="scripts/data/maps/maps.manifest.js"></script>
        <script type="text/javascript" src="scripts/data/menu.ui.manifest.js"></script>
        <script type="text/javascript" src="scripts/data/menu.ui.animation.manifest.js"></script>

    </head>
    <body>
        <div id="container">
        <noscript>
            <div style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
                Your web browser must have JavaScript enabled in order for this application to display correctly.
            </div>
        </noscript>

        <header>
            <div class="content">
                <h1>Main Game View</h1>
                <h2 ng:bind-template="{{title}}">Home</h2>
            </div>            
            <nav>
                <ul>
                    <li ng:repeat="nav in navigation">
                        <a href="#{{nav.route}}">{{nav.title}}</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div id="main" role="main">
            <canvas id="stage" height="600" width="800"></canvas>
            <ng:view></ng:view>
        </div>
        <footer>
            <p>Copyright &copy; 2012 Sivan Wolberg</p>
        </footer>
    </div>
    <script data-main="scripts/bootstrap" src="scripts/require.js"></script>  

    <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
    </body>
</html>