<p> Test Level</p>
<div class="hideme" ng-controller="Test">
	<div class="level_background ground_send">&nbsp;</div>
	<div class="level_background ground_clif_left">&nbsp;</div>
	<div class="level_background ground_clif_rigth">&nbsp;</div>
</div>