.ground_send{
	height:30px;
	width:30px;
	background-position: -546px -160px;
}

#ground_clif_left{
	height:105px;
	width:17px;
	background-position: -320px -1px;
}

#ground_clif_rigth{
	height:105px;
	width:17px;
	background-position: -368px -1px;
}
.level_background {
	background-repeat: 'no-repeat';
}